<div class="flex flex-col gap-3">
  <div class="p-4 flex">
    <h1 class="font-bold">Formulaire exercice</h1>
    <!-- <h1>State: {{state}}</h1> -->
  </div>
  <div class="w-full h-full justify-center p-4">
    <form class="flex flex-col" [formGroup]="exerciseForm" (ngSubmit)="onSubmitForm()">
      <mat-form-field>
        <mat-label>Libellé</mat-label>
        <input matInput placeholder="Grails" formControlName="label" required type="text" />
        <mat-error *ngIf="exerciseForm.get('label')?.invalid">
          {{ getLabelErrorMessage()}}
        </mat-error>
      </mat-form-field>
      <mat-form-field class="example-full-width">
        <mat-label>Matière</mat-label>
        <input type="text" matInput formControlName="matiere" [formControl]="myControl" [matAutocomplete]="auto">
        <mat-autocomplete #auto="matAutocomplete" formControlName="matiere" [displayWith]="displayFn">
          @for (option of filteredOptions | async; track option) {
          <mat-option [value]="option">{{option.label}}</mat-option>
          }
        </mat-autocomplete>
        <mat-error *ngIf="exerciseForm.get('matiere')?.invalid">
          {{ getMatiereErrorMessage()}}
        </mat-error>
      </mat-form-field>
      <div>
        <button mat-raised-button color="primary" ripple>
          <div class="flex gap-3">
            @if(state === "pending"){
            <span>
              <mat-spinner class="mat-spinner-color" [diameter]="20"></mat-spinner>
            </span>
            }
            @else{
            <span>
              Valider
            </span>
            }
          </div>
        </button>
      </div>
    </form>
  </div>
</div>