<ng-container [ngSwitch]="layout">
  <!-- Alternativerly use the main layout as the default switch case -->
  <app-login *ngSwitchCase="Layouts.Login"></app-login>
  <app-register *ngSwitchCase="Layouts.Register"></app-register>
  <app-forbidden *ngSwitchCase="Layouts.Forbidden"></app-forbidden>
  <app-internal-server *ngSwitchCase="Layouts.InternalServer"></app-internal-server>
  <app-unauthorized *ngSwitchCase="Layouts.Unauthorized"></app-unauthorized>
  <ng-container *ngSwitchDefault>
    <mat-toolbar color="primary">
      <mat-toolbar-row>
        <button mat-button (click)="opened =! opened"><mat-icon>menu</mat-icon></button>
        <button mat-button><mat-icon>home</mat-icon>Home</button>
        @if (userConnected) {
        <div class="ml-auto">
          <button mat-button (click)="callLogout()"><mat-icon>logout</mat-icon>Se deconnecter</button>
        </div>
        }
      </mat-toolbar-row>
    </mat-toolbar>
    <mat-sidenav-container>
      <mat-sidenav [(opened)]="opened" mode="side">
        <mat-list>
          <mat-list-item><a routerLink="/home">Home</a></mat-list-item>
        </mat-list>
      </mat-sidenav>
      <mat-sidenav-content>
        <h1>
          <nav>
            <a routerLink="/home">{{title}}</a>
          </nav>
        </h1>
        <mat-slide-toggle (click)="login()" color="primary">Login</mat-slide-toggle>
        <button mat-button (click)="genererDonneesDeTest()">Peupler BD</button>

        <router-outlet></router-outlet>
      </mat-sidenav-content>
    </mat-sidenav-container>
  </ng-container>
</ng-container>