<ng-container [ngSwitch]="layout">
  <!-- Alternativerly use the main layout as the default switch case -->
  <app-login *ngSwitchCase="Layouts.Login"></app-login>
  <app-register *ngSwitchCase="Layouts.Register"></app-register>
  <app-forbidden *ngSwitchCase="Layouts.Forbidden"></app-forbidden>
  <app-internal-server *ngSwitchCase="Layouts.InternalServer"></app-internal-server>
  <app-unauthorized *ngSwitchCase="Layouts.Unauthorized"></app-unauthorized>
  <ng-container *ngSwitchDefault>
    <div>
      <app-toolbar class="toolbar" (open)="open()"></app-toolbar>
      <mat-drawer-container class="h-[100vh]">
        <mat-drawer class="sidenav-container" mode="side" [opened]="opened">
          <app-sidenav></app-sidenav>
        </mat-drawer>
        <mat-drawer-content>
          <div class="content">
            <!-- <mat-slide-toggle (click)="login()" color="primary">Login</mat-slide-toggle>
            <button mat-button (click)="genererDonneesDeTest()">Peupler BD</button> -->
            <router-outlet></router-outlet>
          </div>
        </mat-drawer-content>
      </mat-drawer-container>
    </div>
  </ng-container>
</ng-container>