<div class="flex flex-col gap-3">
  <div class="p-4 flex">
    <h1 class="font-bold">{{selectRepresentation}} de representation des assignments</h1>
    <div class="flex gap-4 ml-auto">
      <mat-button-toggle-group #group="matButtonToggleGroup" class="!rounded-lg"
        (change)="onRepresentationChange(group.value)" name="listRepresentation" aria-label="Font Style">
        <mat-button-toggle value="Table">Table</mat-button-toggle>
        <mat-button-toggle value="Liste">Liste</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="btnAjout">
        <a routerLink="/exercises/add">
          <button mat-flat-button color="accent">
            <mat-icon matListItemIcon class="item-icon">add</mat-icon>
            Ajouter Assignment
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="p-4">
    @if(selectRepresentation == "Table"){
    <table mat-table [dataSource]="exercises" class="mat-elevation-z8 demo-table">
      <!-- Label Column -->
      <ng-container matColumnDef="label">
        <th mat-header-cell *matHeaderCellDef>Libellé</th>
        <td mat-cell *matCellDef="let a">{{ a.label }}</td>
      </ng-container>

      <!-- nom du prof Column -->
      <ng-container matColumnDef="matiere">
        <th mat-header-cell *matHeaderCellDef>Matière</th>
        <!-- <td mat-cell *matCellDef="let a">{{ a.dateDeRendu | date }}</td> -->
        <td mat-cell *matCellDef="let a">{{ a.matiere.label }}</td>
      </ng-container>

      <!-- image du prof Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="!text-center">Actions</th>
        <td mat-cell *matCellDef="let a">
          <div class="flex justify-center">
            <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon"
              (click)="openDialog('0ms', '0ms', a?._id)">
              <mat-icon>delete</mat-icon>
            </button>
            <a routerLink="/exercise/{{a._id}}/edit">
              <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>edit</mat-icon>
              </button>
            </a>
            <a routerLink="/exercise/{{a._id}}/notes">
              <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>note</mat-icon>
              </button>
            </a>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    }@else{
    <div class="flex flex-wrap justify-center gap-4">
      @for (exercise of exercises; track exercise){
      <a routerLink="/exercise/{{exercise?._id}}/notes">
        <mat-card class="example-card">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{exercise?.matiere?.label}}</mat-card-title>
              <!-- <mat-card-subtitle>{{exercise?.label}}</mat-card-subtitle> -->
              <img mat-card-sm-image
                [src]="exercise?.matiere?.imgProf || 'https://angular-academy.s3.amazonaws.com/angular-university-logo-and-letters.png'">
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{exercise?.label}}
          </mat-card-content>
        </mat-card>
      </a>
      }
    </div>
    }
    <mat-paginator (page)="handlePageEvent($event)" [length]="totalDocs" [pageSize]="limit"
      [showFirstLastButtons]="true" [pageSizeOptions]="[1, 2, 5]" [pageIndex]="page" aria-label="Select page">
    </mat-paginator>
  </div>
</div>