<div class="flex flex-col gap-3">
  <div class="p-4 flex">
    <h1 class="font-bold">{{selectRepresentation}} de representation des notes</h1>
    <div class="flex gap-4 ml-auto">
      <mat-button-toggle-group #group="matButtonToggleGroup" class="!rounded-lg"
        (change)="onRepresentationChange(group.value)" name="listRepresentation" aria-label="Font Style">
        <mat-button-toggle value="Table">Table</mat-button-toggle>
        <mat-button-toggle value="Liste">Liste</mat-button-toggle>
      </mat-button-toggle-group>
      <div class="btnAjout">
        <a routerLink="/exercise/{{currentAssignment?._id}}/note/new">
          <button mat-flat-button color="accent">
            <mat-icon matListItemIcon class="item-icon">add</mat-icon>
            Nouvelle note
          </button>
        </a>
      </div>
    </div>
  </div>
  <div class="p-4">
    @if(selectRepresentation == "Table"){
    <table mat-table [dataSource]="notes" class="mat-elevation-z8 demo-table">
      <!-- Matricule Column -->
      <ng-container matColumnDef="matricule">
        <th mat-header-cell *matHeaderCellDef>Matricule</th>
        <td mat-cell *matCellDef="let a">{{ a.matricule }}</td>
      </ng-container>

      <!-- Nom Column -->
      <ng-container matColumnDef="nom">
        <th mat-header-cell *matHeaderCellDef>Nom</th>
        <td mat-cell *matCellDef="let a">{{ a.nom }}</td>
      </ng-container>

      <!-- Note Column -->
      <ng-container matColumnDef="note">
        <th mat-header-cell *matHeaderCellDef>Note</th>
        <td mat-cell *matCellDef="let a">{{ a.note }}</td>
      </ng-container>

      <ng-container matColumnDef="rendu">
        <th mat-header-cell *matHeaderCellDef>Rendu</th>
        <td mat-cell *matCellDef="let a">{{ a.rendu }}</td>
      </ng-container>

      <!-- nom du prof Column -->
      <ng-container matColumnDef="remarque">
        <th mat-header-cell *matHeaderCellDef>Remarque</th>
        <!-- <td mat-cell *matCellDef="let a">{{ a.dateDeRendu | date }}</td> -->
        <td mat-cell *matCellDef="let a">{{ a.remarque }}</td>
      </ng-container>

      <!-- date rendu Column -->
      <ng-container matColumnDef="dateDeRendu">
        <th mat-header-cell *matHeaderCellDef>Date de rendu</th>
        <!-- <td mat-cell *matCellDef="let a">{{ a.dateDeRendu | date }}</td> -->
        <td mat-cell *matCellDef="let a">{{ a.dateDeRendu | date : 'yyyy-MM-dd' }}</td>
      </ng-container>

      <!-- image du prof Column -->
      <ng-container matColumnDef="actions">
        <th mat-header-cell *matHeaderCellDef class="!text-center">Actions</th>
        <td mat-cell *matCellDef="let a">
          <div class="flex justify-center">
            <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon"
              (click)="openDialog('0ms', '0ms', a?.matricule)">
              <mat-icon>delete</mat-icon>
            </button>
            <a routerLink="/exercise/{{currentAssignment?._id}}/notes/{{a.matricule}}/edit">
              <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>edit</mat-icon>
              </button>
            </a>
            <a routerLink="/exercise/{{currentAssignment?._id}}/notes">
              <button mat-icon-button color="primary" aria-label="Example icon button with a delete icon">
                <mat-icon>note</mat-icon>
              </button>
            </a>
          </div>
        </td>
      </ng-container>


      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
    }@else{
    <div class="flex flex-wrap justify-center gap-4">
      @for (note of notes; track note){
      <a routerLink="/exercise/{{currentAssignment?._id}}/notes/{{note.matricule}}/edit">
        <mat-card
          class="min-w-36 example-card text-white {{(note?.note || 0) > 9 ? 'mat-card-moyenne' : 'mat-card-under-moyenne' }}">
          <mat-card-header>
            <mat-card-title-group>
              <mat-card-title>{{note?.note}} / 20</mat-card-title>
              <mat-card-subtitle class="!text-white">{{note?.nom}}</mat-card-subtitle>
              <!-- <img mat-card-sm-image
                [src]="subject?.imgProf || 'https://angular-academy.s3.amazonaws.com/angular-university-logo-and-letters.png'"> -->
            </mat-card-title-group>
          </mat-card-header>
          <mat-card-content>
            {{note.matricule}}
          </mat-card-content>
        </mat-card>
      </a>
      }
    </div>
    }
  </div>
</div>