<mat-nav-list>

    <!-- <mat-list-item routerLink="/home" routerLinkActive="active-link">
        <mat-icon matListItemIcon class="item-icon">assignment</mat-icon>
        <span matListItemTitle class="item-title">Assignment</span>
    </mat-list-item> -->
    <mat-list-item routerLink="/exercises" routerLinkActive="active-link">
        <mat-icon matListItemIcon class="item-icon">assignment</mat-icon>
        <span matListItemTitle class="item-title">Assignement</span>
    </mat-list-item>
    <mat-list-item routerLink="/subjects" routerLinkActive="active-link">
        <mat-icon matListItemIcon class="item-icon">subject</mat-icon>
        <span matListItemTitle class="item-title">Matière</span>
    </mat-list-item>

    <mat-divider></mat-divider>

    <mat-list-item (click)="callLogout()" routerLinkActive="active-link">
        <mat-icon matListItemIcon class="item-icon">exit_to_app</mat-icon>
        <span matListItemTitle class="item-title">Se déconnecter</span>
    </mat-list-item>


</mat-nav-list>