<div class="w-full h-[100vh]">
    <div class="flex h-full justify-center items-center">
        <mat-card class="w-[50%]">
            <mat-card-header class="flex justify-center mb-[20px]">
                <mat-card-title>Inscription</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <form class="flex flex-col" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
                    <mat-form-field>
                        <mat-label>Nom</mat-label>
                        <input matInput placeholder="John" formControlName="lastName" required type="text" />
                        <mat-error *ngIf="registerForm.get('lastName')?.invalid">
                            {{ getLastNameErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Prénoms</mat-label>
                        <input matInput placeholder="Doe" formControlName="firstName" required type="text" />
                        <mat-error *ngIf="registerForm.get('firstName')?.invalid">
                            {{ getFirstNameErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Email</mat-label>
                        <input matInput placeholder="pat@example.com" formControlName="email" required type="email" />
                        <mat-error *ngIf="registerForm.get('email')?.invalid">
                            {{ getEmailErrorMessage()}}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Mot de passe</mat-label>
                        <input matInput placeholder="Mot de passe" formControlName="password" required
                            type="password" />
                        <mat-error *ngIf="registerForm.get('password')?.invalid">
                            {{ getPasswordErrorMessage() }}
                        </mat-error>
                    </mat-form-field>
                    <mat-form-field>
                        <mat-label>Confirmation Mot de passe</mat-label>
                        <input matInput placeholder="Confirmation mot de passe" formControlName="confirmPassword"
                            required type="password" />
                        <mat-error *ngIf="registerForm.get('password')?.invalid">
                            {{ getConfirmPasswordErrorMessage() }}
                        </mat-error>
                    </mat-form-field>
                    <button [disabled]="!registerForm.valid" mat-raised-button color="primary"
                        ripple>S'inscrire</button>
                    <div class="mt-3">
                        <a mat-button routerLink="/login">Vous avez déjà un compte ?</a>
                    </div>
                </form>
            </mat-card-content>
        </mat-card>
    </div>
</div>